<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Dashboard')}"></head>
<body>

<div th:replace="~{fragments/layout :: body('Dashboard', ~{::main-content})}">
	<th:block th:fragment="main-content">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Welcome 👋</h2>
				<p class="card-text">You are logged in successfully.</p>
	
				<div class="my-4">
					<form th:action="@{/test-email}" method="post">
						<button type="submit" class="btn btn-primary">
							Send Test Email
						</button>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</div>

</body>
</html>